.item-heading{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    position: relative;
    z-index: -2;
}
.header{
    position: relative;
    text-align: center;
    /* margin-left: 12rem; */
   
}
.image-container{
    flex: 0 1 150px; 
    margin-top: 25px;
    background: transparent;
   
}
.right-side{
    flex: 0 1 150px;
    position: relative;
    text-align: center;
  
}
.wrapped-green-paragraphs{
    flex: 0 1 150px; 
    justify-content: center;
  }

.info-with-icons{
    padding: 5px;
    width: 29rem;
    height: 2.5rem;
    background-color: #c4d2fd;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 1rem;
    transition: background-color 0.5s ease-in-out; 
  
}
.fixxed{
    color: #dde5fe;
    background-color:#a6baf7;
    width: 15%;
    height:inherit;
    padding: auto;
    display: grid;
    place-items: center;
    margin-top: -5px;
    margin-left: -5px;
}
.wrapped-green-paragraphs .info-with-icons:hover {
   background-color: #a6baf7;
}