.heading{
   float: left;
    width:20rem;
    margin:20px;
    height:450px;
    padding:20px;
    z-index: -1;
}
.card-text-color{
    color:#34dbeb !important;
}
.card-title-color{
    color:#1C1E21
}
 .item-image{
    position: relative;
    right: 20px;
    width: 278px;
    height: 278px;
} 