body {
  margin: 0;
  background: #151616;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}
/* s */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}
/* Top Navigation Bar */

/* <nav> */
.navbars {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  margin-bottom: 120px;
}

/* <ul> */
.navbars-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.navs-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icons-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icons-button:hover {
  filter: brightness(1.2);
}

.icons-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */

.dropdowns {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: visible; 
  transition: height var(--speed) ease;
}

.menus {
  width: 100%;
}

.menus-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menus-item .icons-button {
  margin-right: 0.5rem;
}


.menus-item .icons-button:hover {
  filter: none;
}

.menus-item:hover {
  background-color: #525357;
}

.icons-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menus-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menus-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menus-primary-exit {
  position: absolute;
}
.menus-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menus-secondary-enter {
  transform: translateX(110%);
}
.menus-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
/* .menus-secondary-exit {

} */
.menus-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.wrapper{ 
  font-weight: bold;
  padding:0 1rem;
  float: left;
  align-items: center;
  display: flex;
  justify-content: center;
  height: var(--nav-size);
  color: var(--text-color);
  margin: 0 ;
  } 
  .wrapper ul{
  list-style: none;
  }
  .wrapper ul li {
  background: #262626;
  width: 170px;
  height: 50px;
  line-height: 70px;
  text-align: center;
  float: left;
  color: #fff;
  font-size: 16px;
  position: relative;
  font-weight: bold;
  }
  .wrapper ul li:hover{
  background: crimson; 
  }
  
  .wrapper ul ul{
  display: none;
  }
  .wrapper ul li:hover > ul{
  display: block;
  }
  .wrapper ul ul ul{
  margin-left: 170px;
  top: 0;
  position: absolute;
  }