body {
  margin: 0;
  background: #151616;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}
/* s */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}
/* Top Navigation Bar */

/* <nav> */
.navbars {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  margin-bottom: 120px;
}

/* <ul> */
.navbars-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.navs-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Navbar stylings */



     #addtocart{
       position: absolute;
       width: 120px;
       height: 29px;
       text-align: center;
       font-weight: bolder;
     }
     #addtocart:hover{
      background-color: #525357;
      color: #fff;
     }

.card:hover{
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  ul {
    transition: .2s all linear;
    height: 45px;
    max-width: -webkit-fill-available;
    width: 100%;
  }
}